---

- name: Reload vault systemd
  ansible.builtin.systemd:
    name: vault
    daemon_reload: true

- name: Reload vault-unseal systemd
  ansible.builtin.systemd:
    name: vault-unseal
    daemon_reload: true

- name: Restart vault
  ansible.builtin.service:
    name: vault
    state: restarted
